.ListService {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ListService-row {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
.loader {
  margin-top: 20px;
  font-size: 25px;
}
.error {
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  background-color: rgb(194, 74, 74);
  color: white;
  font-size: 20px;
  text-align: center;
}
